* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Tema Bloody */
    --cor-bloody: linear-gradient(to bottom right, red, #f59ccd);
    --bg-bloody: red;
    --shadow-bloody: 1px 1px 50px 1px #f72c2c;

    /* Tema Evil */
    --cor-evil: linear-gradient(to bottom right, #5c32f5, #b79cf5);
    --bg-evil: #5c32f5;
    --shadow-evil: 1px 1px 50px 1px #2c3af7;

    /* Tema Fairy */
    --cor-fairy: linear-gradient(to bottom right, #029b02, #67e7a1);
    --bg-fairy: #029b02;
    --shadow-fairy: 1px 1px 50px 1px #029b02;

    /* Tema Bee */
    --cor-bee: linear-gradient(to bottom right, #FF9900, #FFFF99);
    --bg-bee: #ffc400;
    --shadow-bee: 1px 1px 50px 1px #ffc400;

    /* Tema Darkness */
    --cor-dark: linear-gradient(to bottom right, #52525c, rgb(70, 68, 68));
    --bg-dark: #313142;
    --shadow-dark: 1px 1px 50px 1px #3e3e52;

    /* Tema Stock */
    --cor-stock: linear-gradient(to bottom right, rgb(197, 196, 196), white);
    --bg-stock: white;
    --shadow-stock: 1px 1px 50px 1px white;

}

body {
    background: url(img/bg01.jpg);
    transition: 400ms;
}

.total-area {
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 810px;
    height: 810px;
    
    box-shadow: var(--shadow-stock);
    background: var(--bg-stock);
    transition: 500ms;

}

.square {
    background: var(--cor-stock);
    width: 87.5px;
    height: 87.3px;
    transition: 500ms;
}

.square-black {
    background: linear-gradient(to bottom right, black, rgb(51, 51, 51));
    width: 87.5px;
    height: 87.3px;
}

.skin {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background: url(img/bg02.png);
    
    background-size: 100%;
    background-position: center;
    
}
.coord {
    position: absolute;
    color: white;
    font-family: "Rubik";
}

.vert {
    height: 630px;
    margin-left: 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horiz {
    width: 620px;
    margin-left: 90px;
    margin-top: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.board {
    display: grid;
    border-collapse: collapse;
    border-spacing: 0;
    gap: 0;
    grid-auto-flow: dense;
    position: relative;
    gap: 0px;
    width: 700px;
    height: 700px;
    border: 1px solid aliceblue;
    background-color: black;
    
}

.black {
    background: rgb(29, 28, 28);
}

.light {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 120px;
    font-family: "Rubik";
    
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 300px;
    margin-left: 1vw;
    font-size: 19px;
}

.light span {
    
    text-align: center;
    color: white;
    font-weight: 500;
    
    margin: 10px -10px;
}

.light .bloody {
    border: 3px solid red;
    color: rgb(250, 88, 88);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: 400ms;
    cursor: pointer;
    
}
.light .bloody:hover {
    color: white;
    background-color: red;
}
.light .bloody.active {
    color: white;
    background-color: red;
}

.light .evil {
    border: 3px solid #7a10f3;
    color: #a55bfa;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
}
.light .evil:hover {
    color: white;
    background-color: #7a10f3;
}
.light .evil.active {
    color: white;
    background-color: #7a10f3;
}

.light .fairy {
    border: 3px solid #0ac004;
    color: #92f78f;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
}
.light .fairy:hover {
    background-color: #0ac004;
    color: white;
}
.light .fairy.active {
    background-color: #0ac004;
    color: white;
}

.light .bee {
    border: 3px solid #ffd000;
    color: #f5d547;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
}
.light .bee:hover {
    color: rgb(70, 69, 69);
    background-color: #ffd000;
}
.light .bee.active {
    color: rgb(70, 69, 69);
    background-color: #ffd000;
}

.light .dark {
    border: 3px solid #575172;
    color: #9b93b9;
    font-weight: 500;
    padding: 10px;
    
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
}
.light .dark:hover {
    background-color: #575172;
    color: white;
}
.light .dark.active {
    background-color: #575172;
    color: white;
}

.light .stock {
    border: 3px solid white;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: 400ms;
    cursor: pointer;
}
.light .stock:hover {
    background-color: white;
    color: black;
}
.light .stock.active {
    background-color: white;
    color: black;
}

/* Peças */

.piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.piece[data-color="white"] {
background-color: #f0d9b5;
}

.piece[data-color="black"] {
background-color: #b58863;
}

.piece[data-type="pawn"]::before {
content: "♙";
}

.piece[data-type="knight"]::before {
content: "♘";
}

.piece[data-type="bishop"]::before {
content: "♗";
}

.piece[data-type="rook"]::before {
content: "♖";
}

.piece[data-type="queen"]::before {
content: "♕";
}

.piece[data-type="king"]::before {
content: "♔";
}
  





